{% extends "StephaneBlogBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Index{% endblock %}
{% block stephane_body %}
<div class="panel panel-primary">
    <!-- Default panel contents -->
	<div class="panel-heading">Articles</div>
	<div class="panel-body">
	<p>Les articles disponibles...</p>
	</div>

	<!-- List group -->
	<ul class="list-group">
	    {% for article in listeArticles %}
		<li class="list-group-item"><a href="Blog/article/{{ article.id }}">{{ article.titre }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}